@import url(https://fonts.googleapis.com/css?family=Nunito:300&text=:);

html {
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    background: rgb(0, 122, 225);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#currtime{
    font-family: Helvetica Nueu, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 100;
    display: block;
    text-align: center;
    font-size: 12vw;
}

#currtime span{
    display: inline-block;
    font-family: Avenir Next, Nunito, sans-serif;
    font-weight: 100;
    font-size: 8vw;
    position: relative;
    top: -2vw;
}

@media all and (max-width: 600px){
    body{
        background-color: black;
    }

    #currtime{
        font-size: 4rem;
        padding: 2rem 0;
    }
}

@media all and (max-width: 350px){
    body{
        background-color: red;

    }
    
    #currtime{
        font-size: 3rem;
        padding: 2rem 0;
    }
}