@charset "UTF-8";

*{
box-sizing: border-box;
}

main{width: 100%;
max-width: 1600px;
margin: 0 auto;
overflow: hidden;
}

header{
    position: fixed;
    background-color: white;
    opacity: 0.95;
    width: 100%;
    height: 10%;
    margin: 0;
    z-index: 1;
}
.cabeçalho{  
    padding: 1em;
    position: relative;
    top: 9px;
}

.cabeçalho > img{
    position: absolute;
    top: 10px;
    left: 45px;
    width: 110px;
}

#menu{
    visibility: hidden;
}

.cabeçalho > nav{
    position: absolute;
    left: 170px;
}

.cabeçalho > nav > ul{
    list-style: none;
}

.cabeçalho > nav > ul > li{
    padding: 20px;
    display: inline;
}

.cabeçalho > nav > ul > li > a:link{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

.cabeçalho > nav > ul > li > a:visited{
    color: #fff;
}

.cabeçalho > nav > ul > li > a:hover{
    color: #611f69;
}

.cabeçalho > nav > div{
    height: 100px;
    width: 300px;
    position: absolute;
    top: -11px;
    left: 775px;
    display: block;
}

.cabeçalho > nav > div > button{
    height: 30px;
    margin: 5px;
    border: 10px;
    border-radius: 3px;
    background-color: white;
}

#cor-botão{
    font-weight: bolder;
    color: white;
    background-color: #611f69;

}

/* Estilo do títulos das sessões */
#estilo-titulo{
    text-align: left;
}
h1{
    font-size: 2em;
    text-align: center;
}

h2{
    font-size: 1.3em;
    text-align: center;
}

/* Seção Sobre1 */
.introdução{
    position: relative;
    top: 150px;
}

#imagem{
    position: relative;
    top: 150px;
    left: 100px;
}

#titulo{
    width: 900px;
    font-size: 2.5em;
    position: absolute;
    top: -110px;
    left: 205px;
}

.img-trivago{
    position: absolute;
    top: 198px;
    left: -70px;
}

#textinho{
    font-size: 14px;
    position: relative;
    top: 510px;
    left: -68px;
}

.img-hellofresh{
    width: 300px;
    height: 300px;
    position:absolute;
    top: 480px;
    right: 340px;
}

#captação{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 240px;
    right: 140px;
}

#captação > span{
    visibility: hidden;
 }

#captação > p{
    width: 500px;
    font-size: 1.2em;
    line-height: 20px;
    
}
#captação > div{
    position: absolute;
    top: 135px;
}

#captação > div > input{
    height: 60px;
    width: 200px;
    border-radius: 5px;
    padding: 0 0 0 10px;
}

#captação > div > button{
    height: 60px;
    width: 200px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: #611f69;
    border-radius: 5px;
}

#captação > div > p{
    font-size: 13px;
}

/* Secão Sobre2 */
.funcionamento{
    position: relative;
    top: 760px;
}

.funcionamento > h1{
    font-size: 1.6em;
    font-weight: bolder;
}

.funcionamento > p{
    font-size: 17.7px;
    line-height: 25px;
    text-align: center;
    height: 200px;
    width: 600px;
    position: relative;
    left: 370px;
    margin-top: 30px;
}

.canais{
    height: 300px;
    width: 300px;
    display: block;
    margin-left: 20px;
}

.canais > h2{
    position: absolute;
    margin-top: 10px;
}

.canais > p{
    font-size: 1.1em;
    line-height: 25px;
    position: relative;
    top: 39px;
}

.pesquisar{
    height: 300px;
    width: 300px;
    display: block;
    position: relative;
    bottom: 300px;
    left: 340px;
}

.pesquisar > h2{
    position: absolute;
    margin-top: 10px;
}

.pesquisar > p{
    font-size: 1.1em;
    line-height: 25px;
    position: relative;
    top: 39px;
}

.integrações{
    height: 300px;
    width: 300px;
    display: block;
    position: relative;
    bottom: 600px;
    left: 660px;
}

.integrações > h2{
    position: absolute;
    margin-top: 10px;
}

.integrações > p{
    font-size: 1.1em;
    line-height: 25px;
    position: relative;
    top: 39px;
}

.segurança{
    height: 300px;
    width: 300px;
    display: block;
    position: relative;
    bottom: 900px;
    left: 980px;
}

.segurança > h2{
    position: absolute;
    margin-top: 10px;
}

.segurança > p{
    font-size: 1.1em;
    line-height: 25px;
    position: relative;
    top: 39px;
}

#saiba-mais{
    font-size: 18px;
    position: absolute;
    bottom: 730px;
    right: 510px;
}

/* Seção Sobre3 */
.parceiros{
    height: 1100px;
    margin-top: 150px;
    background-color: #f4f4f4;
}

.parceiros > div > h1{
    font-size: 1.8em;
    font-weight: bolder;
    padding-top: 150px;
}

.parceiros > div > p{
    font-size: 1.3em;
    text-align: center;
    line-height: 25px;
    margin-top: 30px;
}

#bloco{
    height: 450px;
    width: 220px;
    background-color: #fff;
    box-shadow: 2px 1px 2px 0 #707070;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 200px;
    padding: 10px 0px 0px 10px;
}

#logo-trivago{
    position: relative;
    left: 50px;
    margin: 10px 0px 15px 0px;
}

.trivago > p{
    font-size: 1.1em;
    text-align: center;
    line-height: 25px;
    position: relative;
    right: 5px;
}

#seta1{
    position: relative;
    top: 30px;
    left: 185px;
}

#bloco2{
    height: 450px;
    width: 220px;
    background-color: #fff;
    box-shadow: 2px 1px 2px 0 #707070;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 10px 0px 0px 10px;
    position: relative;
    bottom: 550px;
    left: 450px;
}

#logo-autodesk{
    position: relative;
    left: 14px;
    margin: 10px 0px 15px 0px;
}

.autodesk >p{
    font-size: 1.1em;
    text-align: center;
    line-height: 25px;
    position: relative;
    right: 5px;
}

#seta2{
    position: relative;
    top: 30px;
    left: 185px;
}

#bloco3{
    height: 450px;
    width: 220px;
    background-color: #fff;
    box-shadow: 2px 1px 2px 0 #707070;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 100px;
    padding: 10px 0px 0px 10px;
    position: relative;
    bottom: 1095px;
    left: 800px;
}

#logo-liberty{
    position: relative;
    left: 14px;
    margin: 10px 0px 15px 0px;
}

.liberty >p{
    font-size: 1.1em;
    text-align: center;
    line-height: 25px;
    position: relative;
    right: 5px;
}

#seta3{
    position: relative;
    top: 43px;
    left: 185px;
}

.logos{
    display: block;
    position: relative;
    bottom: 1050px;
}

.logos > img{
    margin: 0px 60px;
    position: relative;
    left: 70px;
}

.teste{
    height: 500px;
    background-image: url(./img/background-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #611f69;
}

.teste > h1{
    padding: 170px;
    font-size: 2.5em;
    color: white;
    font-weight: bolder;
}

.teste > button{
    width: 220px;
    height: 60px;
    font-weight: bolder;
    color: #611f69;
    position: relative;
    bottom: 130px;
    left: 560px;
    border-radius: 7px;
}

/* seção do Rodapé */
.rodape{
    display: block;
    height: 530px;
}

.rodape > img{
    position: relative;
    top: 100px;
    left: 50px;
}

.produto{
    position: relative;
    top: 60px;
    left: 400px;
}
.produto > h1{
    font-size: 1.5em;
    text-align: left;
    margin-left: 15px;
}

.produto > ul{
    list-style: none;
    margin-top: 20px;
}

.produto > ul > li{
    padding: 15px;
}

.produto > ul > li > a:link{
    color: black;
    text-decoration: none;
}

.produto > ul > li > a:visited{
    color: white;
}

.produto > ul > li > a:hover{
    color: #611f69;
}

.equipes{
    position: relative;
    bottom: 260px;
    left: 610px;
}
.equipes > h1{
    font-size: 1.5em;
    text-align: left;
    margin-left: 15px;
}

.equipes > ul{
    list-style: none;
    margin-top: 20px;
}

.equipes > ul > li{
    padding: 15px;
}

.equipes > ul > li > a:link{
    color: black;
    text-decoration: none;
}

.equipes > ul > li > a:visited{
    color: white;
}

.equipes > ul > li > a:hover{
    color: #611f69;
}

.recursos{
    position: relative;
    bottom: 624px;
    left: 910px;
}
.recursos > h1{
    font-size: 1.5em;
    text-align: left;
    margin-left: 15px;
}

.recursos > ul{
    list-style: none;
    margin-top: 20px;
}

.recursos > ul > li{
    padding: 15px;
}

.recursos > ul > li > a:link{
    color: black;
    text-decoration: none;
}

.recursos > ul > li > a:visited{
    color: white;
}

.recursos > ul > li > a:hover{
    color: #611f69;
}

.empresa{
    position: relative;
    bottom: 945px;
    left: 1110px;
}
.empresa > h1{
    font-size: 1.5em;
    text-align: left;
    margin-left: 15px;
}

.empresa > ul{
    list-style: none;
    margin-top: 20px;
}

.empresa > ul > li{
    padding: 15px;
}

.empresa > ul > li > a:link{
    color: black;
    text-decoration: none;
}

.empresa > ul > li > a:visited{
    color: white;
}

.empresa > ul > li > a:hover{
    color: #611f69;
}

.final{
    height: 50px;
    background-color: #f4f4f4;
    padding: 30px;
}

.final > ul{
    list-style: none;
    font-size: 0.85em;
    font-weight: bolder;
}

.final > ul > li{
    padding: 20px;
    display: inline;
}

.final > ul > li > a:link{
    color: black;
    text-decoration: none;
}

.redes-sociais{
    position: relative;
    bottom: 14px;
    left: 1200px;
}

@media screen and (max-width: 1440px){
    .cabeçalho > nav > div{
        left: 870px;
    } 

    .funcionamento > h1{
        position: relative;
        left: -30px;
    }
    .funcionamento > p{
        left: 380px;
    }
    
    .funcionamento{
        left: 70px;
    }

    #saiba-mais{
        right: 610px;
    }

    #bloco{
        position: relative;
        left: 120px;
    }

    #bloco2{
        position: relative;
        left: 510px;
    }

    #bloco3{
        position: relative;
        left: 795px;
    }

    .logos{
        left: 90px;
    }

    .teste > button{
        left: 620px;
    }
}

@media screen and (max-width: 1024px){
    .cabeçalho > nav > div{
        left: 600px;
    } 

    #estilo-titulo{
        font-size: 1.3em;
        position: relative;
        top: 40px;
    }

    .img-trivago{
        width: 350px;
        height: 350px;
    }

    #textinho{
        top: 450px;
        font-size: 0.3em;
    }

    .img-hellofresh{
        width: 200px;
        height: 200px;
        right: 200px;
    }

    #captação{
        right: -20px;
    }

    #captação > p{
        width: 350px;
        position: relative;
        left: 80px;
    }

    #captação > div > input{
        width: 150px;
        height: 50px;
    }

    #captação > div > button{
        width: 150px;
        height: 50px;
        font-size: 0.8em;
    }

    #captação > div{
        left: 85px;
    }

    .funcionamento{
        height: 1200px;
    }
    .funcionamento > p{
        left: 175px;
    }

    .canais{
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 80px; 
    }
    .pesquisar{
        width: 200px;
        height: 200px;
        bottom: 281px;
        left: 250px;
    }

    .integrações{
        width: 200px;
        height: 200px;
        bottom: 481px;
        left: 500px;
    }

    .segurança {
        width: 200px;
        height: 200px;
        bottom: 681px;
        left: 740px;
    }

    #saiba-mais{
        top: 520px;
        left: 300px;
        width: 300px;
    }

    #bloco{
        left: -100px;
    }
    
    #bloco2{
        left: 320px;
    }

    #bloco3{
        left: 630px;
    }

    .logos{
        left: 0px;
    }

    .logos > img{
        margin: 0px 35px;
    }

    .teste > button{
        left: 400px;
    }

    .produto{
        left: 170px;
    }

    .equipes{
        left: 370px;
    }

    .recursos{
        left: 670px;
    }

    .empresa{
        left: 860px;
    }

    .redes-sociais{
        left: 890px;
    }
}

@media screen and (max-width: 768px){
    .cabeçalho > nav > ul > li{
        padding: 8px;
    }
    .cabeçalho > nav > div{
        left: 400px;
    } 

    #estilo-titulo{
        font-size: 1em;
        position: relative;
        top: 55px;
        right: 100px;
    }

    .img-autodesk{
        width: 160px;
        height: 160px;
    }

    .img-trivago{
        width: 250px;
        height: 250px;
        top: 155px;
        left: -130px;
    }

    #textinho{
        top: 330px;
        left: -130px;
        font-size: 0.22em;
    }

    .img-hellofresh{
        width: 200px;
        height: 200px;
        top: 360px;
        right: 120px;
    }

    #captação{
        top: 200px;
        right: -90px;
    }
    
    #captação > div{
        top: 100px;
        left: 90px;
        
    }

<<<<<<< HEAD:exercicios_no_geral/exercicio_feriado/css/estilo.css
    #captação > span{
        visibility: visible;
    } 
=======
>>>>>>> f94f5c4... Conclusão do exercicio do feriado:exercicio_feriado/css/estilo.css
    #captação > p{
        width: 300px;
        font-size: 1em;
        position: relative;
        left: 90px;
<<<<<<< HEAD:exercicios_no_geral/exercicio_feriado/css/estilo.css
        visibility: hidden;
=======
>>>>>>> f94f5c4... Conclusão do exercicio do feriado:exercicio_feriado/css/estilo.css
    }

    #captação > div > input{
        width: 150px;
        height: 30px;
    }

    #captação > div > button{
        width: 150px;
        height: 30px;
        font-size: 0.7em;
    }

    .funcionamento{
        height: 1500px;
    }
    
    .funcionamento > h1{
        left: -50px;
    }

    .funcionamento > p{
        left: 30px;
    }

    .canais{
        width: 200px;
        height: 200px;
        position: relative;
        bottom: 80px; 
    }
    .pesquisar{
        width: 200px;
        height: 200px;
        bottom: 281px;
        left: 430px;
    }

    .integrações{
        width: 200px;
        height: 200px;
        bottom: 170px;
        left: 20px;
    }

    .segurança {
        width: 200px;
        height: 200px;
        bottom: 373px;
        left: 430px;
    }

    #saiba-mais{
        top: 850px;
        left: 190px;
        width: 300px;
    }

    #bloco{
        left: -180px;
    }
    
    #bloco2{
        left: 175px;
    }

    #bloco3{
        left: 430px;
    }

    .logos{
        left: -60px;
    }

    .logos > img{
        margin: 0px 15px;
    }

    .teste > button{
        left: 275px;
    }

    .produto{
        font-size: 0.7em;
        left: 150px;
    }

    .equipes{
        font-size: 0.7em;
        bottom: 223px;
        left: 290px;
    }

    .recursos{
        font-size: 0.7em;
        bottom: 545px;
        left: 500px;
    }

    .empresa{
        font-size: 0.7em;
        bottom: 828px;
        left: 650px;
    }

    .redes-sociais{
        left: 600px;
    }
}

@media screen and (max-width: 425px){
    .cabeçalho > img{
        width: 100px;
        height: 100px;
        top: -30px;
        left: 20px;
    }

    .cabeçalho > nav{
        visibility: hidden;
    }

    #menu{
        visibility: visible;
        position: absolute;
        top: 15px;
        right: 20px;
    }

    #imagem{
        left: 0px;
    }

    .img-autodesk{
        width: 130px;
        height: 130px;
    }

    #estilo-titulo{
        font-size: 0.6em;
        font-weight: bolder;
        top: -100px;
        left: -130px;
    }

    #captação > span{
        visibility: visible;
        font-size: 0.8em;
        position: absolute;
        top: -200px;
        right: 192px;
    }

    #captação > p{
        visibility: hidden;
    }

    #captação > div{
        top: -170px;
        left: 40px;
        width: 500px;
    }

    #captação > div > input{
        width: 300px;
        height: 50px;
    }

    #captação > div > button{
        margin-top: 5px;
        width: 300px;
        height: 50px;
        position: relative;
        left: -10px;
    }

    #captação > div > p{
        visibility: hidden;
    }

    .img-trivago{
        width: 300px;
        height: 300px;
        top: 180px;
        left: -140px;
    }

    #textinho{
        font-size: 0.25em;
        top: 435px;
        left: -140px;
    }

    .img-hellofresh{
        width: 120px;
        height: 120px;
        top: 270px;
        left: 380px;
    }

    .funcionamento{
        height: 1900px;
    }
    .funcionamento > h1{
        font-size: 1.4em;
        font-weight: bolder;
        bottom: 150px;
        left: -65px;
    }

    .funcionamento > p{
        visibility: hidden;
    }

    .canais{
        bottom: 340px;
        right: 50px;
    }

    .pesquisar{
        bottom: 250px;
        left: -30px;
    }

    .integrações{
        bottom: 150px;
        left: -30px;
    }

    .segurança{
        bottom: 40px;
        left: -30px;
    }

    #saiba-mais{
        top: 1150px;
        left: -50px;
    }

    .parceiros{
        height: 2200px;
    }

    .parceiros > div > p{
        font-size: 0.9em;
    }

    #bloco{
        left: -100px;
    }

    #bloco2{
        bottom: 0px;
        left: 0px;
    }

    #bloco3{
        bottom: 0px;
        left: 0px;
    }

    .logos{
        bottom: 0px;
    }

    .logos > img{
        margin: 0px 40px;
        padding: 5px;
    }

    .teste > h1{
        width: 700px;
        font-size: 1.5em;
        text-align: left;
        position: relative;
        right: 130px;
    }

    .teste > button{
        width: 350px;
        left: 35px;
    }

    .rodape{
        height: 1100px;
    }
    .produto{
        left: 40px;
        top: 120px;
        line-height: 0px;
    }

    .equipes{
        left: 40px;
        top: 150px;
        line-height: 0px;
    }

    .recursos{
        left: 40px;
        top: 180px;
        line-height: 0px;
    }

    .empresa{
        left: 40px;
        top: 210px;
        line-height: 0px;
    }

    .final{
        height: 100px;
        line-height: 20px;
        padding: 5px 70px;
    }

    .redes-sociais{
        left: 100px;
        top: 30px;
    }
}








