@charset "utf-8";

form{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

input, select, label{
    font-size: 1.125em;
    font-family: monospace;
    background: #ffffff;
    border-radius: 3px;
    outline: none;
}

label{
    font-weight: bold;
    color: #8844ee;
    margin: 20px 0 5px 0;
}

#add, #delete{
    margin: 20px 0 5px 0;
}

